/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


/* GLOBAL STYLES */
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff; 
    color: black;
    font-size: 1.35rem;
}


/* BUTTON STYLES */
.btn {
    border: 2px solid rgb(54, 54, 54);
    border-radius: 5px;
    margin: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: background-color 0.2s ease, color 0.2s ease, filter 0.2s ease;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn:active {
    filter: brightness(0.75);
}


/* Specific Button Colors */
.greenBtn {
    background-color: green;
    color: #fff;
    font-weight: 500;
    font-size: 1.65rem;
}

.redBtn {
    background-color: rgb(255, 0, 0);
    color: #fff;
}

.orangeBtn {
    background-color: orange;
}

.whiteBtn {
    background-color: #fff;
}


/* LAYOUT STYLES */
.container {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.main {
    margin: auto;
}

.frame {
    background-color: rgb(183, 183, 183);

    width: 400px;
    min-height: 500px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 80px repeat(5, 1fr);

    padding: 1.25rem;
    border: 2px solid black;   
    border-radius: 5px;

    grid-template-areas: 
        "historyDis  historyDis   historyDis   historyDis"
        "outputDis outputDis  outputDis  outputDis"
        "clear      delete      plusMinus   division"
        "seven      eight       nine        multiplication"
        "four       five        six         subtraction"
        "one        two         three       addition"
        "zero       zero        dot         equal";
}


/* DISPLAY STYLES */
.display {
    background-color: white;
    border: 2px solid black;

    padding: 0.65rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

.historyDis {
    font-size: 1rem;

    color: #3b3b3b;
    grid-area: historyDis;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    align-items: flex-end;
}

.outputDis {
    font-size: 2.3rem;
    grid-area: outputDis;
    margin-top: 0;
    margin-bottom: 1rem;
    border-radius: 0 0 5px 5px;
    border-top: none;
}


/* CALCULATOR BUTTON GRID */
/* Calculator Button Grid Areas */
.clearBtn {grid-area: clear;}
.deleteBtn {grid-area: delete;}
.nineBtn {grid-area: nine;}
.eightBtn {grid-area: eight;}
.sevenBtn {grid-area: seven;}
.sixBtn {grid-area: six;}
.fiveBtn {grid-area: five;}
.fourBtn {grid-area: four;}
.threeBtn {grid-area: three;}
.twoBtn {grid-area: two;}
.oneBtn {grid-area: one;}
.plusMinusBtn {grid-area: plusMinus;}
.zeroBtn {grid-area: zero;}
.dotBtn {grid-area: dot;}
.divisionBtn {grid-area: division;}
.multiplicationBtn {grid-area: multiplication;}
.equalBtn {grid-area: equal;}
.subtractionBtn {grid-area:subtraction;}
.additionBtn {grid-area: addition;}


/* FOOTER STYLES */
.footer {
    width: 100%;
    background-color: rgb(16, 80, 255);
    color: #fff4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.7em;
}

a {
    cursor: pointer;
    color: #fff4f4;
    margin: 0 0.15em;
}

a:hover {
    text-decoration: none;
    font-weight: 500;
    margin: 0 0.20em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

a:active {
    color: rgb(0, 203, 225);
}


/* MEDIA QUERY */
@media (max-width: 600px) {
    .footer {
        font-size: 1.25rem;
        flex-direction: column;
    }
}