/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

.container {
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(251, 153, 153);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}  

.frame {
    background-color: grey;
    width: 400px;
    min-height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);

    padding: 1rem;
    grid-template-areas: 
        "upper-dis  upper-dis   upper-dis   upper-dis   upper-dis"
        "bottom-dis bottom-dis  bottom-dis  bottom-dis  bottom-dis"
        "clear      clear       .           delete      delete"
        "seven      eight       nine        root        division"
        "four       five        six         percent     multiplication"
        "one        two         three       equal       subtraction"
        "plusMinus  zero        dot         equal       addition";

}

.display {
    background-color: white;
    border: 2px solid black;
    margin: 0.15rem;
}

.upper-display {
    grid-area: upper-dis;
    margin-bottom: 0;
    border-bottom: none;
   
}

.bottom-display {
    grid-area: bottom-dis;
    margin-top: 0;
    margin-bottom: 0.5rem;
    border-top: none;
}

.btn {
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0.15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.clearBtn {
    grid-area: clear;
}

.deleteBtn {
    grid-area: delete;
}

.nineBtn {
    grid-area: nine;
}

.eightBtn {
    grid-area: eight;
}

.sevenBtn {
    grid-area: seven;
}

.sixBtn {
    grid-area: six;
}

.fiveBtn {
    grid-area: five;
}

.fourBtn {
    grid-area: four;
}

.threeBtn {
    grid-area: three;
}

.twoBtn {
    grid-area: two;
}

.oneBtn {
    grid-area: one;
}

.plusMinusBtn {
    grid-area: plusMinus;
}

.zeroBtn {
    grid-area: zero;
}

.dotBtn {
    grid-area: dot;
}

.rootBtn {
    grid-area: root;
}

.divisionBtn {
    grid-area: division;
}

.percentBtn {
    grid-area: percent;
}

.multiplicationBtn {
    grid-area: multiplication;
}

.equalBtn {
    grid-area: equal;

}

.subtractionBtn {
    grid-area:subtraction;
}

.additionBtn {
    grid-area: addition;
}